@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Zilla+Slab:wght@700&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

#name{
    font-family: 'Zilla Slab', serif;
}

#profile_image{
    max-width: 100px;
}