@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Zilla+Slab:wght@700&display=swap');


{
    border-width: 1px;
    border-color: lightblue;
    margin: 1px;
    padding: 1px;
    border-style: solid;
}

body{
    font-family: 'Rubik', sans-serif;
    color: rgb(83, 83, 83);
    --accent: #5265f2;
    gap: 2em;
}

.parent-box{
    min-width: 800px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.parent-box.upper-half{
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.lower-half{
    margin-bottom: 25vh;
}

.child-1-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.child-1-box.left-box{
    padding-top: auto;
    padding-bottom: auto;
    width: 50%;
}

.child-1-box.right-box{
    position: relative;
    min-width: 35%;

    margin-left: auto;
    margin-right: auto;

    height: 0;
    padding-bottom: 35%;
    margin-top: auto;
    margin-bottom: auto;
}

.section-header{
    font-family: 'Zilla Slab', serif;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.accent-text{
    color: var(--accent);
}

#name{
    font-family: 'Zilla Slab', serif;
    font-size: 5em;
    margin-bottom: 0em;
}



#favorites-body{
    display: flex;
    gap: 1em;
}

#favorites-left-column, #favorites-right-column{
    gap: 1em;
    min-width: 200px;
    width: 50%;
}

#favorites-header{
    text-align: center;
}

.favorites-card{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    background-color: white;
    filter: drop-shadow(    0px 8px 10px #0000001e);
}

  
#profile_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
  }






.circle{
    background-color: var(--accent);
}

#shape-cir-01{
    position: absolute;
    border-radius: 100%;
    width: 15%;
    height: 15%;
    top: 80%;
    left: -10%
}
